USE [Musikbiblioteket]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 2025-12-18 02:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[Id] [int] NOT NULL,
	[Title] [text] NOT NULL,
	[ArtistId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 2025-12-18 02:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[Id] [int] NOT NULL,
	[Name] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 2025-12-18 02:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[Id] [int] NOT NULL,
	[Title] [text] NOT NULL,
	[Length] [int] NULL,
	[AlbumId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Album] ([Id], [Title], [ArtistId]) VALUES (1, N'True', 1)
INSERT [dbo].[Album] ([Id], [Title], [ArtistId]) VALUES (2, N'Body Talk', 6)
INSERT [dbo].[Album] ([Id], [Title], [ArtistId]) VALUES (3, N'Gold: Greatest Hits', 3)
GO
INSERT [dbo].[Artist] ([Id], [Name]) VALUES (1, N'Avicii')
INSERT [dbo].[Artist] ([Id], [Name]) VALUES (2, N'Zara Larsson')
INSERT [dbo].[Artist] ([Id], [Name]) VALUES (3, N'ABBA')
GO
INSERT [dbo].[Track] ([Id], [Title], [Length], [AlbumId]) VALUES (1, N'Wake Me Up', 247, 1)
INSERT [dbo].[Track] ([Id], [Title], [Length], [AlbumId]) VALUES (2, N'Dancing On My Own', 281, 2)
INSERT [dbo].[Track] ([Id], [Title], [Length], [AlbumId]) VALUES (3, N'Mamma Mia', 215, 3)
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artist] ([Id])
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Album] ([Id])
GO
