USE [SocialMedia ]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2025-12-18 01:43:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PostID] [int] NOT NULL,
	[content] [varchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 2025-12-18 01:43:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[UserID] [int] NOT NULL,
	[PostID] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 2025-12-18 01:43:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[media_url] [varchar](255) NULL,
	[caption] [varchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2025-12-18 01:43:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] NOT NULL,
	[namn] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[username] [varchar](30) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [UserID], [PostID], [content], [created_at]) VALUES (1, 1, 2, N'Väldigt bra inlägg!', CAST(N'2024-01-12T10:00:00.000' AS DateTime))
INSERT [dbo].[Comments] ([CommentID], [UserID], [PostID], [content], [created_at]) VALUES (2, 2, 1, N'Håller helt med, bra skrivet.', CAST(N'2024-01-12T10:05:00.000' AS DateTime))
INSERT [dbo].[Comments] ([CommentID], [UserID], [PostID], [content], [created_at]) VALUES (3, 3, 1, N'Intressant perspektiv, tack för att du delar.', CAST(N'2024-01-12T10:10:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
INSERT [dbo].[Likes] ([UserID], [PostID], [created_at]) VALUES (1, 2, CAST(N'2024-01-12T09:00:00.000' AS DateTime))
INSERT [dbo].[Likes] ([UserID], [PostID], [created_at]) VALUES (2, 1, CAST(N'2024-01-12T09:05:00.000' AS DateTime))
INSERT [dbo].[Likes] ([UserID], [PostID], [created_at]) VALUES (3, 1, CAST(N'2024-01-12T09:10:00.000' AS DateTime))
GO
INSERT [dbo].[Posts] ([PostID], [UserID], [media_url], [caption], [created_at]) VALUES (1, 1, N'https://img.com/pic1.jpg', N'Min första bild!', CAST(N'2024-01-10T12:00:00.000' AS DateTime))
INSERT [dbo].[Posts] ([PostID], [UserID], [media_url], [caption], [created_at]) VALUES (2, 2, N'https://img.com/pic2.jpg', N'Vacker solnedgång', CAST(N'2024-01-11T18:30:00.000' AS DateTime))
GO
INSERT [dbo].[User] ([UserID], [namn], [lastname], [email], [username], [created_at]) VALUES (1, N'Adam', N'Lind', N'adam.lind@mail.com', N'@adam_lind', CAST(N'2024-01-05T10:15:00.000' AS DateTime))
INSERT [dbo].[User] ([UserID], [namn], [lastname], [email], [username], [created_at]) VALUES (2, N'Sara', N'Nilsson', N'sara.nilsson@mail.com', N'@sara_nilsson', CAST(N'2024-01-06T11:30:00.000' AS DateTime))
INSERT [dbo].[User] ([UserID], [namn], [lastname], [email], [username], [created_at]) VALUES (3, N'Elias', N'Berg', N'elias.berg@mail.com', N'@elias_berg', CAST(N'2024-01-07T09:45:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_User]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
